* {
  padding: 0%;
}

html{
  scroll-behavior: smooth;
}

.menuPx{
  position: fixed;
  z-index: 100;
  width: 100%;
}

.img{
  max-width: 100%;
  height: auto;
  text-align: center;
  padding: 20px;
}

.carousell {
	position:relative;
  background-color: #f7faf5;
  bottom: 430px;
  right: 0;
}

.menu-fixed {
	position:fixed;
  background-color: #f7faf5;
  bottom: 550px;
  right: 0px;
  left: 0px;
  z-index:1000;
}


.nav-color{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.img-logo{
  width: 5%;
  height: 4%;
}

/* cambiar el color de fondo a la barra */
.navbare {
  background-color:#3d7951;
  color: rgb(255, 255, 255);
  font-family:Arial, Helvetica, sans-serif;
  height: 30px;
  float: left;
}

.alinearizq {
  float: left;
  text-align:left;
  margin: auto;
  padding-top: 3px;
}

.alinearder {
  float: right;
}

@media screen and (max-width :700px) {
  .alinearizq {
    float: inherit;
    text-align:inherit;
    margin-left: 0px;
  }
  
  .alinearder {
    float: inherit;
  }
  .navbare {
    float: inherit;
  }
}

.navbare::selection {
  background: rgb(203, 235, 203);
  color: rgb(150, 144, 144);
  text-shadow: 1px 1px #fff;
}

.img-logo {
  width: 200px;
}

.titulo{
  padding-bottom: 50px;
  font-size: 60px;
  font-weight: 700;
  transition: 0.5s ease-in-out;
}

.parafo{
  font-size: 20px;
  font-weight: 100;
}

.fondo{
  background-image: url(../../img/ITO.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 600px;
  margin-bottom: 50px;
}

.zon-text{
  padding-top: 50px;
  padding-bottom: 50px;
  transition: 0.3s ease-out;
}

.zon-text:hover{
  background: #f8f9fa;
  transform: scale(1.01);
}

.zon-text:hover .titulo{
  letter-spacing: 10px;
  border-bottom: black;
}


#identificador{
  display: none;
  border: none;
  
}


.fondo .contenedor-text{
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.808), rgba(255, 255, 255, 0.575),rgba(255, 255, 255, 0.096), rgba(250, 250, 250, 0));  
  height: 100%;
  padding-left: 20%;
}

.fondo .contenedor-text .texto{
  width: 50%;
  padding: 30px;
  padding-top: 15%;
}

.fondo .contenedor-text .texto h1{
  font-size: 50px;
  font-weight: 100;
}

.fondo .contenedor-text .texto h2{
  font-size: 50px;
  font-weight: bold;
}

.fondo .contenedor-text .texto p{
  font-size: 18px;
}

.fondo .contenedor-text .texto p a{
  color: black;
}

.cn-ben{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 40px 0;
}

.cn-ben .crt-ben{
  position: relative;
  min-width: 320px;
  height: 350px;
  background: #3a7658;
  border-radius: 15px;
  margin: 40px;
}

.cn-ben .crt-ben::before{
  content: '';
  position: absolute;
  top: 0%;
  right: 0%;
  width: 50%;
  height: 100%;
  background: rgba(250, 250, 250, 0.1);
}

.cn-ben .crt-ben .cnt-crt-ben{
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #4f9e77;
  border: 1px solid #032107;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  justify-content: center;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cn-ben .crt-ben .cnt-crt-ben::before{
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 50%;
  height: 100%;
  background: rgba(250, 250, 250, 0.1);
}

.cn-ben .crt-ben .cnt-crt-ben:hover{
  transform: translateY(-50px);
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
}

.cn-ben .crt-ben .cnt-crt-ben .cnt-ben-text{
  padding: 20px;
  text-align: left;
}

.cn-ben .crt-ben .cnt-crt-ben .cnt-ben-text h2{
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.3);

}

.cn-ben .crt-ben .cnt-crt-ben .cnt-ben-text h4{
  color: rgba(255, 255, 255, 0.8);
  z-index: 5;
  width: 80%;
}

.lin{
  margin: 40px auto;
  width: 800px;
  border-left: 2px solid #3a7658;
  padding: 0 20px 0 30px;
}

.con-lin{
  padding: 10px 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #4f9e7717;
  line-height: 1.7;
  position: relative;
}

.con-lin:before{
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #a7dcb2;
  border: 2px solid #3a7658;
  position: absolute;
  top: 30px;
  left: -38.5px;
  transition: 0.3s ease-in-out;
}

.con-lin:hover:before{
  background-color: #81be4d;
  width: 20px;
  height: 20px;
  left: -41px;
  top: 10px;
}

.des-row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.des-col{
  width: 250px;
  height: 250px;
  color: rgba(255, 255, 255, 0.8);
  background-color: #3a7658;
  margin: 50px;
  transition: 0.3s ease-in-out;

}

.des-cont{
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #235434;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 10px black;
}

.des-cont:before{
  content: '';
  position: absolute;
  top: 0%;
  right: 0%;
  width: 50%;
  height: 100%;
  background: rgba(250, 250, 250, 0.05);
  z-index: 5;
  box-shadow: -5px 0px 10px -5px rgba(0, 0, 0, 0.349);
  transition: 0.8s ease-in-out  ;

}

.des-text{
  z-index: 10;
}

.des-text span{
  opacity: 0;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.des-text span a{
  color: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.des-col:hover .des-cont .des-text span{
  opacity: 1;
}

.des-text h1{
  font-size: 100px;
  font-family: 'Verdana';
  opacity: 0.1;
  position: absolute;
  right: 0;
  top: -10px;
  transition: 0.5s ease-in-out;
}



.des-col:hover .des-cont:before{
  width: 60%;
 }

.des-col:hover .des-cont .des-text h1{
  font-size: 120px;
  opacity: 0.05;
}

.des-text h2{
  margin-top: 50px;
  transition: 0.5s ease-in-out;
  opacity: 0.8;
  
}

.des-col:hover .des-cont .des-text h2{
  letter-spacing: 2px;
  opacity: 1;
  color: white;
}

.bg{
  background-color: rgb(255, 255, 255);
}

.cn-titulo{
  margin: 0%;
  padding: 0%;
  width: 100%;
}

.img-titulo{
  background-image: url(../../img/baner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 170px;
  padding: 0%;
  box-shadow: 0px 0px 10px black;
}

.img-titulo h1{
  font-size: 80px;
  color: rgb(0, 61, 31);
  background: rgba(255, 255, 255, 0.123); 
  height: 170px;
  padding-left: 30px;
  padding-top: 30px;
}

.text-des{
  justify-content: center;
  background: #fcfcfc;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 0%;
}

.cont-text-des h1{
  text-align: center;
}

.cont-text-des p{
  font-size: 20px;
  font-weight: 300;
}

.btn-png{
  background: none;
  padding: 0;
}

.btn-png a{
  margin: 0%;
  padding-bottom: 10px;
}


/*esconder textos*/

.text-ap{
  display: none;
  transition: 0.5s ease-in-out;
}

.text-per{
  display: none;
  transition: 0.5s ease-in-out;
}

.text-html{
  display: none;
  transition: 0.5s ease-in-out;
}

.text-por{
  display: none;
  transition: 0.5s ease-in-out;
}

.text-off{
  display: none;
  transition: 0.5s ease-in-out;
}

.text-py{
  display: none;
  transition: 0.5s ease-in-out;
}

.cont-text-des{
  position: relative;
}

.btn-cerrar{
  position: absolute;
  right: 0;
  top: 0%;
}


/*decoracion*/
.circulo1{
  position: absolute;
  background: #2b5842;
  width: 470px;
  height: 470px;
  border-radius: 50%;
  left: -150px;
  top: 340px;
  z-index: 5;
}

.circulo2{
  position: absolute;
  background: #3a7658;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  left: 80px;
  top: 700px;
  z-index: 15;
}

.circulo3{
  position: absolute;
  background: #3f8160;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  right: -150px;
  bottom: -100px;
  z-index: 10;
  overflow: hidden;
}

#SeccionImagen{
    padding-left: 100px;
    text-align: center;
}

#ptFooter{
    background-color: #091e2b;
    color: rgb(83, 146, 219);
}

#ptDerechos{
    background-color: #ecfcfc;
    border: 0.1px solid rgb(185, 215, 216);
    text-align: center;
    margin-top: 30px;
    text-shadow: #092b0f;
}

#BarraNav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

a:hover{
    text-decoration: none;
}

.MenuSec .dropdown{
    padding-right: 40px;
}

.SecBarra{
    background-color: #f5fafa;
    
}

.MenuSec .btn{
    margin-top: 1px;
    background-color: rgb(107, 158, 100);
    border: #146112;
    color: rgb(8, 56, 16);
    text-align: center;
}

.btn-secondary:hover{
    background-color: #0d6b25;
}
  
#header{
    padding: 10px;
    color: black;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}

#header #buscar{
    background-color: green;
}

#header #buscar:hover{
    background: green;
}
  

#Titulo1{
  background-color:rgb(83, 136, 99);
  color: rgb(255, 255, 255);
  font-family:monospace;
  border: 2px solid rgb(111, 180, 132);
  border-radius: 80px;
  float: left;
  text-align:left;
  margin-right: auto;
}

a {
    text-decoration: none;
}


#BoxSuperior{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid rgb(93, 129, 96) 1px;
}

#BoxInferior{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #368036;
    color: white;
}

/* TERMINA INDEX*/


#MuestraBTN .btn{
    background-color: #4BADB6;
    color: white;
}


/*Perfil CSS*/

#Perfil{
    min-height: 605px;
}

#searchBarEmp, #buscar{
    width: 50%;
}


